/* Estilos basados en Tokyo Night Storm */
body {
    background-color: #24283b; /* Fondo oscuro del tema */
    color: #c0caf5; /* Color claro del texto */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1a1b26; /* Fondo del contenedor */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la imagen */
.image-container {
    margin-right: 20px;
}

.ares-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; /* Imagen redondeada */
    border: 3px solid #7aa2f7; /* Borde azul claro */
}

/* Contenedor de texto */
.text-container h1 {
    font-size: 2.5rem;
    color: #7aa2f7; /* Color del nombre */
    margin: 0;
}

/* Botón para desplegar la información */
#toggle-info, #toggle-projects {
    margin-top: 10px;
    font-family: 'CaskaydiaCove Nerd Font', monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #7aa2f7;
    color: #1a1b26;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-info:hover, #toggle-projects:hover {
    background-color: #9ece6a;
}

/* Estilo para la sección desplegable */
#about-me {
    background-color: #1a1b26;
    font-family: monospace;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 315px;
    text-align: left;
    color: #c0caf5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    margin-bottom: 10px; /* Evita superposición */
}

#projects {
    background-color: #1a1b26;
    font-family: monospace;
    font-weight: bold;
    padding: 0 20px;
    width: 600px;
    color: #c0caf5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
}


.hidden {
    max-height: 0; /* Asegúrate de que sea 0 para ocultar completamente */
    padding: 0;    /* Sin relleno al estar oculto */
    overflow: hidden; /* Asegúrate de que no haya desbordamiento */
    transition: max-height 0.5s ease, padding 0.5s ease; /* Añade transición para suavidad */
}


#about-me h2 {
    color: #7aa2f7;
    font-family: CaskaydiaCove Nerd Font;
}

#about-me p {
    font-family: monospace;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
    color: #c0caf5;
}

#projects p {
    font-family: monospace;
    text-align: left;
    font-size: 15px;
    color: #c0caf5;
}

#projects h2 {
    font-size: 30px;
    color: #9ece6a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}